# PYTHON_DATA_STRUCTURE_MODULE_3

# Theory Questions

  Q1-What are data structures, and why are they important?

  ->Data structures are ways to organize and store data so it can be used effectively. They make it easy to access, manage, and modify data, saving time and resources. Choosing the right data structure helps improve the performance of programs and supports algorithms in solving problems efficiently.

They are important because they are used in almost every application, like managing databases, building apps, and creating websites. Examples include arrays, linked lists, stacks

Q2-  Explain the difference between mutable and immutable data types with examples?

->mutable and immutable data types refer to whether their values can be changed after they are created.

**Mutable Data Types**

Mutable data types can be modified in place after they are created.
Examples: Lists, dictionaries, and sets.

**Immutable Data Types**

 Immutable data types cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value
Examples:String,Tuples

  Q3- What are the main differences between lists and tuples in Python?

  ->
The primary difference between lists and tuples in Python lies in their mutability:

**Lists**: Mutable, meaning their contents can be changed after creation. You can add, remove, or modify elements within a list.

**Tuples**: Immutable, meaning their contents cannot be changed once created.

  Q4- Describe how dictionaries store data

  ->Dictionaries  store data in key-value pairs. Each key is unique and associated with a corresponding value. The keys are used to efficiently access the associated values. The values can be of any data type, including numbers, strings, lists, or even other dictionaries.

Q5- Why might you use a set instead of a list in Python?

->There are 2 major reason for using set instead of list

**Remove Duplicates:** Sets automatically eliminate duplicate elements, making them useful for ensuring unique values within a collection.

**Set Operations:** Sets support efficient set operations like union, intersection, difference, and symmetric difference, which are often used in data analysis and filtering.

  Q6- What is a string in Python, and how is it different from a list?

  -> a string is an immutable sequence of characters, representing textual data. Unlike lists, which are mutable and can hold elements of various data types list is like moms bag, strings are specifically designed for handling text. This immutability means you cannot change individual characters within a string after it's created.

  Q7- How do tuples ensure data integrity in Python?

  ->
Tuples in Python ensure data integrity by being immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. This immutability provides several benefits:

Preventing Accidental Modifications: By making tuples immutable, you prevent accidental changes to the data within them. This is crucial in situations where the data needs to remain constant throughout the program's execution.

Q8- What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is a data structure that stores key-value pairs and provides efficient access to values based on their corresponding keys. It uses a hash function to map keys to specific indices within an array, allowing for fast retrieval of values.

 dictionaries are implemented using hash tables. This means that when you create a dictionary, the keys are hashed, and the resulting hash values are used to determine the locations of the corresponding values within the dictionary's internal structure. This approach enables dictionaries to provide efficient key-based lookups, making them a valuable tool for various data manipulation tasks.

Q9-Can lists contain different data types in Python?

->Yes, lists in Python can contain elements of different data types. This flexibility is one of the key advantages of  lists. It is like Mothers bag it is hetroheneous in nature

For example, a single list can contain integers, floating-point numbers, strings, booleans, and even other lists or more complex data structures. This allows you to create versatile and dynamic data collections that can represent a wide range of information.

Q10-Explain why strings are immutable in python?

->String are immutable means once created values cannot be changed because of

Data Integrity: Immutability ensures that string values remain unchanged throughout their lifetime, preventing accidental or unintended modifications. This is crucial for maintaining data integrity in various applications.

  Q11- What advantages do dictionaries offer over lists for certain tasks?

  -> Dictionaries provide extremely fast data retrieval based on keys. This is because they are implemented using hash tables, which allow for constant-time lookups. In contrast, lists require linear time complexity (O(n)) to find a specific element, as we might need to iterate through the entire list. But in case of dictionary we can simple use the key for it which makes it fast

  Q12-Describe a scenario where using a tuple would be preferable over a list?

  ->One scenario where using a tuple would be preferable over a list is when we want to ensure that the data within a collection remains constant and cannot be accidentally modified. Tuple support Data Integrity

  Q13- How do sets handle duplicate values in Python?

  ->When we create a set, any duplicate values that are included will be eliminated during the set's creation. This behavior makes sets particularly useful for tasks where you need to ensure that a collection of elements contains only unique values.

  Q14-How does the “in” keyword work differently for lists and dictionaries?

  ->In List The in keyword checks for the membership of an element within the list.It iterates through the list sequentially to find a match.

  But in case of Dictionaries The in keyword checks for the existence of a specific key within the dictionary.

Q15- Can you modify the elements of a tuple? Explain why or why not?

->No we cannot directly modify the elements of a tuple in Python as  Tuples are inherently immutable, meaning their contents cannot be changed after creation. This is a fundamental characteristic that distinguishes them from mutable data structures like lists.

Q16- What is a nested dictionary, and give an example of its use case?

->A nested dictionary is a dictionary where one or more of its values are themselves dictionaries. This creates a hierarchical structure, allowing us to represent complex, multi-level data within a single data structure.

Q17- Describe the time complexity of accessing elements in a dictionary?

->The time complexity of accessing elements in a dictionary is typically constant time, or O(1).

  Q18- In what situations are lists preferred over dictionaries?

  Lists are preferred over dictionaries in Majorly 2 situations:

Order matters: Lists maintain the order of elements, while dictionaries do not. If the order of elements is crucial for the application (e.g., representing a sequence of events, maintaining the order of items in a shopping cart), lists are the better choice.

No need for key-value pairs: If we simply need to store a collection of items without associating them with specific keys, lists are more appropriate.

  Q19- Why are dictionaries considered unordered, and how does that affect data retrieval?

  ->Dictionaries  are considered unordered because they do not maintain any specific order for their key-value pairs. This means that when we iterate over a dictionary, the order in which the items are accessed may not be the same as the order in which they were inserted

  Q20- Explain the difference between a list and a dictionary in terms of data retrieval?
  The primary difference in data retrieval between lists and dictionaries in Python lies in their access mechanisms:

Lists:
 Elements in a list are accessed using their numerical index. The index starts from 0 for the first element.
dictionary:
Accessed by Key: Elements in a dictionary are accessed using their unique keys.

one major difference is Lists use numerical indices, while dictionaries use unique keys.

# Practical Questions

In [1]:
#   Q1 Write a code to create a string with your name and print ?
name =input("Enter you name: ")
print(name)

Enter you name: Priyam
Priyam

In [2]:
# Q2 Write a code to find the length of the string "Hello World"

string = "Hello World"
length = len(string)
print(length)

11

In [4]:
# Q3  Write a code to slice the first 3 characters from the string "Python Programming"
word="Python Programming"
slice=word[0:3]
print(slice)

Pyt

In [5]:
# Q4 Write a code to convert the string "hello" to uppercase?
string="hello"
upper=string.upper()
print(upper)

HELLO

In [7]:
# Q5  Write a code to replace the word "apple" with "orange" in the string "I like apple"
string ="I like apple"
new_string=string.replace("apple","orange")
print(new_string)

I like orange

In [9]:
# Q6 Write a code to create a list with numbers 1 to 5 and print it

list=[]
for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [10]:
# Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [11]:
# Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
newl=list.remove(3)
print(list)

[1, 2, 4, 5]

In [12]:
# Q9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [21]:
# Q10 Write a code to reverse the list [10, 20, 30, 40, 50]
my_List = [10, 20, 30, 40, 50]
newlist=my_List[::-1]
print(newlist)

[50, 40, 30, 20, 10]

In [22]:
#Q11- Write a code to create a tuple with the elements 10, 20, 30 and print it?
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [24]:
#Q12  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [30]:
# Q13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple=(1, 2, 3, 2, 4, 2)
cnt=0
for i in tuple:
  if i==2:
    cnt+=1
print(cnt)

3

In [31]:
# Q14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuple=('dog', 'cat', 'rabbit')
index=tuple.index("cat")
print(index)

1

In [32]:
#   Q15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

tuple=('apple', 'orange', 'banana')
if "banana" in tuple:
  print("TRUE")
else:
  print("FALSE")

TRUE

In [33]:
# Q16  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [48]:
# Q17 Write a code to add the element 6 to the set {1, 2, 3, 4}

set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [37]:
# Q18  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [38]:
# Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple=('apple', 'banana', 'cherry')
print(tuple)

('apple', 'banana', 'cherry')

In [39]:
# Q20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tuple=(1, 2, 3, 2, 4, 2)
cnt=0
for i in tuple:
  if i==2:
    cnt+=1
print(cnt)

3

In [40]:
# Q21  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuple=('dog', 'cat', 'rabbit')
index=tuple.index("cat")
print(index)

1

In [44]:
# Q22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

tuple=('apple', 'orange', 'banana')
if "banana" in tuple:
  print("TRUE")
else:
  print("FALSE")

TRUE

In [45]:
# Q23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [46]:
# Q24  Write a code to add the element 6 to the set {1, 2, 3, 4}.
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}